<div class="clap">
  <% @active_claps.each do |c| %>
    <% if c.sound_name == 'clap.mp3' %>
      👏
    <% elsif c.sound_name == 'laugh.mp3' %>
      😆
    <% elsif c.sound_name == 'surprized.mp3' %>
      😲
    <% end %>
  <% end %>
</div>

<% unless @new_claps_count.zero? || @sound.nil? %>
  <%= audio_tag @sound, autoplay: true%>
<% end %>
