<div>
  You can clap! with Hashtag ...
  <%= form_tag(clap_path, method: "post") do %>
    <div class="hash-tag">
      <%= text_field_tag(:hash_tag, @hash_tag, placeholder: '#') %>
    </div>
    <%= button_tag("Clap! ðŸ‘", class: 'btn btn-info btn-xl btn-block') %>
  <% end %>
</div>
